# Day Objectives:
### Practice on Income Dataset
#### Define functions for the following data points
- Combined Average Income of all states from 2005 to 2013
- State with highest average income in the last three years
- State with lowest average income from 2007 to 2010(inclusive)
- Print the list of all states in the same line with average income less than California
- Print the names of states based on descending order of income in the year 2009
- State with the lowest recorded income from 2005 to 2013

In [1]:
# Average income of all states from 2005 to 2013
filepath = 'Datafiles/Income.csv'
import pandas as pd
incomedf = pd.read_csv(filepath)
def averageincome(df):
    sum = 0
    count = 0
    for item in df.values:
        for i in range(3,len(item)):
            sum = sum+int(item[i])
            count = count+1
            avg = sum//count
    return avg
averageincome(incomedf)

48923

In [5]:
# State with highest average income in the last three years

filepath = 'Datafiles/Income.csv'
import pandas as pd
incomedf = pd.read_csv(filepath)
def highestAverageIncome(df):
    highestAvgIncome = 0
    avg = 0
    state = ''
    for row in df.values:
        avg = (row[-3:].mean())
        a = m.floor(avg)
        print(row[1],a)
        if a > highestAvgIncome:
            highestAvgIncome = a
            state = row[1]
    return state            
highestAverageIncome(incomedf)

Alabama 42478
Alaska 60738
Arizona 48755
Arkansas 40079
California 55971

'Alaska'

In [6]:
# State with lowest average income from 2007 to 2010(inclusive)

def getClIndex(df,cl_key):
    for i in range(len(df.columns)):
        if df.columns[i] == cl_key:
            cl_index = i
    return cl_index
        
def lowestAvgIncome(df,st_year,ed_year):
    lowest_avg_income = 100000
    avg = 0
    state = ''
    st_cl_index = getClIndex(df,st_year)
    ed_cl_index = getClIndex(df,ed_year)
    for row in df.values:
        avg = ((row[st_cl_index:ed_cl_index+1]).mean())
        print(row[1],avg)
        if avg < lowest_avg_income:
            lowest_avg_income = avg
            state = row[1]
    return state
          
lowestAvgIncome(incomedf,'2007','2010')

Alabama 41900.25
Alaska 61608.5
Arizona 46691.0
Arkansas 38876.5
California 55791.25

'Arkansas'

In [7]:
# Print the list of all states in the same line with average income less than California
def getRowIndex(df,row_key):
    for i in range(len(df.values)):
        if df.values[i][1] == row_key:
            row_index = i
    return row_index

def allStatesLessCalifornia(df):
    row_index = getRowIndex(df,'California')
    avg = 0
    california_avg = df.values[row_index][2:].mean()
    #print(california_avg)
    for row in df.values:
        avg = row[2:].mean()
        #print(row[1],avg)
        if avg < california_avg:
            print(row[1],end = ' ')
        
allStatesLessCalifornia(incomedf)

Alabama Arizona Arkansas

In [10]:
# Print the names of states based on descending order of income in the year 2009

def statesincomedecending(df):
    cl_index = getClIndex(df,'2009')
    income = {}
    for row in df.values:
        income[row[1]] = row[cl_index]
    income = sorted(income.items(),key=lambda kv: kv[1],reverse = True)
    print(income)
    for item in income:
        print(item[0])
statesincomedecending(incomedf)

[('Alaska', 61604), ('California', 56134), ('Arizona', 45739), ('Alabama', 39980), ('Arkansas', 36538)]
Alaska
California
Arizona
Alabama
Arkansas

In [9]:
# State with the lowest recorded income from 2005 to 2013

def lowerrecordedincome(df,st_year,ed_year):
    st_year_index = getClIndex(df,st_year)
    ed_year_index = getClIndex(df,ed_year)
    min_income = 100000
    state = ''
    print(st_year_index,ed_year_index)
    for row in df.values:
        income_list = row[st_year_index:ed_year_index+1]
        print(row[1],min(income_list))
        if min(income_list) < min_income:
            min_income = min(income_list)
            state = row[1]
    return state
lowerrecordedincome(incomedf,'2005','2013')

2 10
Alabama 37150
Alaska 55891
Arizona 45245
Arkansas 36538
California 51755

'Arkansas'